
<div class=row>
  <div id="d1" class="col-4"></div>
  <div class="col-4">

  <h4><b> LOGIN</b></h4>
  <div id="div1" class="container border border rounded">
   <form action="">

      <fieldset>
          <label id="l1" for="">Account number:</label>
          <input type="text" id="Ac_no" class="form-control border-rounder"><br>
          <label id="a1" for="">password</label><br>
          <input  type="text" id="Pass" class="form-control border-rounded" ><br>
          <button  type="button" class="btn btn-success form-control" id="btn" onclick="bank.login()"  >login</button><br>

      </fieldset>
   </form>

  </div>
  </div>
  <div class="col-4"></div>
</div>

