@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
h4{

    margin-left: -275px;
    padding-top: 40px;
    font-family: 'Rajdhani', sans-serif;
}
#div1{

    height: 335px;
    width: 320px;
    margin-left: -370px;
    margin-top: 30px;
    background-color: rgb(250, 250, 250)
}
#d1{
    margin-left: 200px;
}
#l1{
    margin-top: 20px;
}
p{
  margin-left: -68px;
}
a{
  margin-left: 0px;
}
#div2{
  margin-left: 50px;
  margin-top: -334px;
  height: 335px;
  width: 320px;
  background-color: rgb(250, 250, 250)

}
#m1{
  margin-left: 127px;
  margin-top: -434px;
  position: absolute;
}
